body{
    background-color: #2c3e50;
    color: #34495e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    vertical-align: center;
    font-size: 159.6px;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
    letter-spacing: -5px;  
    font-weight: 500; 
    margin-bottom: 0px;
}

h4 {
    margin-top: 0px;
    font-size: 51.6px;
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;    
    outline: 0;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
}

ul {
    padding-left: 0px;
}

span,
button{
    color: white;
    display:table; 
    margin-left:auto; 
    margin-right:auto;
}

input {
    display:table; 
    margin-left:auto; 
    margin-right:auto;
}

.btn {
    cursor: pointer;
}  

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    t0{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

